input {
  height: 28px;
  background: #3a3636;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  padding-left: 6px;
}

button {
  color: white;
  background: #3a3636;
  border: 1px solid #5c5b5b;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #ede912;
}

button[disabled] {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.btn-cancel {
  background: #640c0c;
}

.btn-action {
  background: #a310c8;
}

.flex {
  display: grid;
}

.flex.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 10px;
}

.shuffle-box {
  padding-left: 25px;
}

.shuffle-box__label {
  position: relative;
  top: -6px;
  padding-right: 5px;
}
